<h1>Add New Doctor</h1>

<form class="doctors" action="/doctors" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" value="">
  </div>
  <div class="form-group">
    <label for="specialty_id">Specialty</label>
    <input type="text" name="specialty_id" value="">
  </div>
  <button type="submit" name="button">Add Doctor</button>
</form>
