<h1>Clinic</h1>

<a href="/doctors/new">Add New Doctor</a>
<br>
<a href="/patients/new">Add New Patient</a>
<br>
<a href="/doctors">See List of Doctors</a>
<br>
<a href="/patients">See List of Patients</a>
<br>
<a href="/specialties">See List of specialties</a>
